$bg-color:rgb(0, 0, 0);
$font-color:rgb(255, 255, 255);
$primary-color:rgb(228, 7, 7);
$dark-overlay:rgba(0,0,0,0.7);
$text-white:rgb(0,0,0);
$font-weights:bold;
$font-size:1.25rem;
$font-family1:'Gloria Hallelujah';
$font-family2:'Courgette';
.bod{
    background:$bg-color;
    color:$font-color;
}

.navbar{
    border-bottom:$primary-color 0.188rem solid;
    opacity: 0.8;
}
.nav-name{
    color: $primary-color;
    font-family:$font-family1;
}
#home-section{
    background: url('./images/ss.jpg') no-repeat;
    min-height: 43.75rem;
    background-size: cover;
    background-attachment: fixed;


    .dark-overlay{
        background-color:$dark-overlay;
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        min-height: 43.75rem;
    }
    .home-inner{
        padding-top: 9.375rem;
    }
    .big-wel{
        font-family: $font-family1;
    }
}
#about-me{
    background-color:$font-color;
    .about{
        color:$primary-color;
        font-family:$font-family2;

    }
    .about-text{
        color:$text-white;
        
    }
} 
#whatido-section{
    .what-title{
        color:$primary-color;
        font-family:$font-family2;
    }
    .what-text{
        color:$text-white;
    }
    .lisst{
        color:$text-white;
    }
}  
#useless{
    width: 100%;
    .carousel-inner{
        padding: 2.5rem;
    }
}
#skills-section{
    background-color:white;
    .skills-title {
        color: $primary-color;
        padding-bottom: 1.87rem;
        font-family:$font-family2;

    }

    .skill-container {
     justify-content: space-evenly;
     margin-left: 0;
     margin-right: 0;

     .skill-wrap {
        flex: 0 0 50%;   
        @media screen and (min-width: 768px) {
          flex: 0 0 13%;
      }
     }
    }

    .skillbar {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 1.87rem;
    }
    
    .skillbar-bar:before {
        background: #eee;
        content: "";
        height: 0.18rem;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    
    .skillbar-bar {
        height: 0.18rem;
        width: 0;
        background: #323232;
        transition-property: width, background-color;
    }
    
    .skillbar-title {
        color: #323232;
        font-size: 0.688rem;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
    }

.progtext{
    color: $primary-color;
    padding-top: 1.56rem;
}
}
#projects-section{
    .projects-title{
        color:$primary-color;
    }
    .projects1-4{
        padding: 5rem;
    }
    .redmore{
        color:$primary-color;
    }
    .blackcoming{
        color: $text-white;
    }
    .blacksoon{
        color:$text-white;
    }
}
#hireme-section{
    padding: 1.25rem;
    .mod-header{
        background-color: black;
    }
    .small-x{
        color: $primary-color;
    }
    .mod-title{
        color: $primary-color;
        text-align: center;
        margin-left: 9em;
    }
    .mod-footer{
        background-color:black; 
        color: $primary-color;
    }
    .fadee{
        background-color: $text-white;
    }
    .contact-us-list-1{
        list-style-type: none;
        padding: 0.625rem;
    }
    .te1{
        color: white;
        font-size: $fontSize;
        padding: 0.625rem;
    }
    .em1{
        color: white;
        font-size: $fontSize;
        padding: 0.625rem;
    }
    .wht1{
        color: white;
        font-size: $fontSize;
        padding: 0.625rem;
    }
}
#contact-me{
    color: $dark-overlay;
    .contact-title{
        color:$primary-color;
        font-family:$font-family2;
    }
    .contact-us-list{
        color:white;
        font-family:$font-family2;
        list-style-type: none;
    
        }
    .te{
        color: white;
        font-size: $fontSize;
        padding: 0.625rem;
    }
    .em{
        color:white;
        font-size: $fontSize;
        padding: 0.625rem;

    }
    .wht{
        color:white;
        font-size: $fontSize;
        padding: 0.625rem;

    }

    }

#main-footer{
    padding-top: 3.125rem;
    .h3{
        font-family: $font-family1;
        color: $primary-color;
    }
}